<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>合肥工业大学校友网</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

</head>
<body style="background-color: rgb(247, 247, 247)">
<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">合工大校友网</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li class="active"><a href="index.html">首页</a></li>
                    <li><a href="news.html">新闻</a></li>
                    <li><a href="message.html">消息</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="user.html">username</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron" id="chart" style=" margin:auto; margin-top: 5%;">
    </div>


</div>
<script src="/js/indexCanvas.js"></script>
<script src="/js/echarts.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>