<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>合肥工业大学校友网</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">合工大校友网</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li class="active"><a href="map.html">首页</a></li>
                    <li><a href="news.html">新闻</a></li>
                    <li><a href="message.html">消息</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="" data-toggle="modal" data-target="#mymodal">登录</a></li>
                    <li><a href="" data-toggle="modal" data-target="#signinModel">注册</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron" id="chart" style=" margin:auto; margin-top: 5%;">
    </div>


</div>
<div class="modal" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">请按提示输入</h4>
            </div>
            <div class="modal-body">
                <form class="form-signin">
                    <label  class="sr-only">学号</label>
                    <input type="pk" id="userpk" name="userpk" class="form-control" placeholder="学号" required autofocus>
                    <label class="sr-only">密码</label>
                    <input type="password" id="userpassword" name="userpassword" class="form-control" placeholder="密码" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> 记住密码
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="signup" data-dismiss="modal">登录</button>
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button> -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal" id="signinModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">请按提示输入</h4>
            </div>
            <div class="modal-body">
                <form class="form-modal">
                    <label  class="sr-only">学号</label>
                    <input type="pk" id="pk" name="pk" class="form-control" placeholder="学号" required autofocus>
                    <label  class="sr-only">密码</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
                    <label  class="sr-only">重复密码</label>
                    <input type="password" id="password2" name="password2" class="form-control" placeholder="重复密码" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> 记住密码
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="signin" data-dismiss="modal">登录</button>
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button> -->
            </div>
        </div>
    </div>
</div>
<script src="/js/indexCanvas.js"></script>
<script src="/js/echarts.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>